<template name="layout">
<body>
	<div id="header">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h3 class="grey-text text-lighten-5">Chip Huyett</h3>
				</div>
	    <div class="col s12 m12 l6 header_tabs">
      <ul class="tabs header_tabs">
        <li class="over tab s1"><a id='about'>About</a></li>
        <li class="over tab col s1"><a id='resume'>Resume</a></li>
        <li class="over tab col s1"><a id='work'>Work</a></li>
      </ul>
    </div>

			</div>
		</div>
	</div>
	<div class="container">
		{{> yield}}

	</div>
	
</body>
</template>