<template name='about'>
	<div class='row'>

		<img class='col m6 l4 hide-on-small-only' src="images/prof_pic.jpg">
		<div>
		
		<div class='col s12 m6 l8'>
			<div class="section">
				Hello, my name is Christopher Huyett. I am a junior full stack web developer, who graduated General Assemly's Web Development Immersive Fall 2013. I spent last Spring working as a Product Management Apprentice in New York City. I have just moved home to Boston, and am currently looking for work as a web developer.
			</div>
		<div class="divider"></div>
		<ul>
			<li><b>email:</b> huyettcp@gmail.com</li>
			<li><b>github:</b> <a href="https://github.com/huyettcp" target="_blank">github.com/huyettcp</a></li>
			<li><b>phone:</b> 978-873-0567</li>
		</ul>

		</div>
		</div>


	</div>
</template>