<template name="indWork">
<div class="col s12 m12 l12">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{image_url}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{title}}<i class="material-icons right">more_vert</i></span>
      <p><a href="{{url}}" target="_blank">Go to Site</a></p>
      <p><a href="{{github_url}}" target="_blank">See GitHub Repo</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{title}}<i class="material-icons right">close</i>
      </span>
      <p><a href="{{url}}" target="_blank">Go to Site</a><br><a href="{{github_url}}" target="_blank">Github Repo</a>
      </p>
      <p>{{description}}</p>
      <ul>Technologies Used
      	<li><a href="{{technology_1_link}}" target="_blank">{{technology_1}}</a></li>
      	<li><a href="{{technology_2_link}}" target="_blank">{{technology_2}}</a></li>
      </ul>
    </div>
  </div>
  </div>
</template>