#header {
	background-color: #006064;
	padding-top: 1rem;
}

.header_tabs {
	background-color: #006064;
	
}

.over {
	text-align: left !important;
}

div.indicator {
	width: 20% !important;
	height: 3px !important;
}

body{

}

.custom-show-btn {
  position: absolute; 
  right: 20px; 
  bottom: -12px; 
  background-color: #359BCE; 
  border-radius: 50%;
  color: #FFFFFF;
  height: 24px;
  width: 24px;
}